.footer {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  //background-color: rgb(38, 38, 38);
  background-image: url("../images/grass.png");
  margin: 0;
  padding-top: 45px;
  padding-bottom: 46px;
  border-top: 1px solid #E5E5E5;
}
