.latest-groups {
  margin: 20px 0;
  text-align: center;
  a {
    font-size: $font-x-large;
  }
  h2 {
    font-size: $font-large;
    margin: 0;
  }
}
.view-id-news, .view-id-groups {
  .view-header {
    margin: 20px 40px;
    a {
      font-size: $font-x-large;
    }
  }
}

.latest-news {
  margin: 5px 0;
  .views-field-title {
    .field-content {
      font-size: $font-x-large;
      margin: -33px 0 0 10px;
    }
    &:before {
      content: "";
      border: $color-green3 solid 7px;
      position: relative;
      font-size: $font-x-large;
      top: -7px;
      left: -10px;
    }
  }
  .views-field-body {
    margin: 10px 0;
  }
  .views-field-changed,
  .views-field-created {
    margin: 5px 0 0;
    span {
      font-style: italic;
    }
  }
}